DATABASE_URL=""
JWT_SECRET=""
JWT_EXPIRES_IN=""
PORT=
CLIENT_URL=
OPENAI_API_KEY=
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_MODE=sandbox
MAKE_WEBHOOK_URL=